/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #d0bdf4; /* Medium Purple */
    color: #8458B3; /* Purple Pain */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
    width: 90%;
    max-width: 600px;
}

/* Header */
header h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Timer Modes */
.timer-modes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.timer-modes button {
    background-color: #8458B3; /* Purple Pain */
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
}

.timer-modes button.active-mode {
    background-color: white; /* Highlight active mode */
    color: #8458B3; /* Purple Pain text for active mode */
}

.timer-modes button:hover {
    background-color: #bfa2e6; /* Slightly lighter Medium Purple */
}

/* Timer Display */
.timer-display {
    margin-top: 20px;
}

#timer {
    font-size: 64px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Controls */
.controls {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.controls button {
    background-color: white; /* White buttons */
    color: #8458B3; /* Purple Pain text */
    border-radius: 5px; /* Rounded corners */
    border: none; /* No border */
    padding: 10px 20px; /* Consistent padding */
}

.controls button:hover {
    background-color: #bfa2e6; /* Slightly lighter Medium Purple hover effect */
}

/* Task Section */
.task-section h2 {
    font-size: 24px;
}

#tasks {
    list-style-type: none;
}

#tasks li {
    background-color: #8458B3; /* Purple Pain for tasks */
    color: white; /* White text for tasks */
    margin-bottom: 10px;
    padding: 10px;
}

/* Add Task Input and Button */
.add-task {
    display: flex;
    justify-content: center;
}

.add-task input {
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.add-task button {
    background-color: #8458B3; /* Purple Pain button */
    color: white; /* White text for button */
}
